In [53]:
%reset -f
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [54]:
titanic_df = pd.read_csv('titanic_processed.csv')
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,55.5,0,0,8.0500,0,0,1
1,1,1,0,36.0,0,2,71.0000,0,0,1
2,1,3,1,20.0,0,0,7.2292,1,0,0
3,1,2,0,55.0,0,0,16.0000,0,0,1
4,0,2,1,25.0,0,0,13.0000,0,0,1

In [55]:
titanic_df.shape

(712, 10)

In [56]:
## Once we've imported the data, we must seperate our labels and our features
## The machine will bredic survival, so the survival columns is our label
## everything else will be our feature
## Assign features while removing the survival column
X = titanic_df.drop('Survived',axis=1)
## Assign labels with only the survived columns
Y = titanic_df['Survived']

In [57]:
## Now we must split the data so we can train and test our model
## We use sklearn.model_selection.train_test_split function
## and we split the data 80% for training, 20% for testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

In [58]:
## shape of test data
x_train.shape, y_train.shape

((569, 9), (569,))

In [59]:
## shape of test data
x_test.shape, y_test.shape

((143, 9), (143,))

In [60]:
## now we instantiate an estimater and train it in this case we will logisticregression
## penalty = 'l2' this is a standard that limits the machine from being overly complicated
## l2 is sum of the squares of the coeeficients
## C is the inverse of regularization strength
## we used liblinear works for smaller datasets

from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(penalty='l2',C=1.0, solver='liblinear').fit(x_train,y_train)

In [61]:
## now lets check our predections with our test data
y_pred = logistic_model.predict(x_test)

In [62]:
## now to view our results lets put our outputs in a dataframe to view them side by side
pred_results = pd.DataFrame({'y_test':y_test,
                            'y_pred':y_pred})
pred_results.head()

     y_test  y_pred
509       1       1
309       1       0
291       1       0
547       1       1
312       1       1

In [63]:
## can't really tell what's going on there, but it doesn;t look great.
## let's use cross tab
titanic_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)
titanic_crosstab

y_test   0   1
y_pred
0       66  19
1       13  45

In [64]:
## still can't really tell. still doesn't look great.
## import some metrics scorers to find out how the model rates
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

acc = accuracy_score(y_test,y_pred)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print('accuracy_score: ', acc)
print('precision_score: ', prec)
print('recall_score: ', recall)
print('Remember you want more than 50% on each score because 50% is what get if you guess randomly')

accuracy_score:  0.7762237762237763
precision_score:  0.7758620689655172
recall_score:  0.703125
Remember you want more than 50% on each score because 50% is what get if you guess randomly

In [65]:
## just for shits, lets do the confusion matrix
display(titanic_crosstab)
true_pos = titanic_crosstab[1][1]
true_neg = titanic_crosstab[0][0]
false_pos = titanic_crosstab[0][1]
false_neg = titanic_crosstab[1][0]

y_test   0   1
y_pred
0       66  19
1       13  45

In [71]:
accuracy_score_verified = (true_pos + true_neg) / (true_pos + false_pos + true_neg + false_neg)
precision_score_survived = true_pos / (true_pos + false_pos)
recall_score_verified = true_pos / (true_pos + false_neg)
print('accuracy scores {manual, function}: ',accuracy_score_verified,acc)
print('precision scores {manual, function}: ',precision_score_survived, prec)
print('recall scores {manual, function}: ',recall_score_verified, recall)

accuracy scores {manual, function}:  0.7762237762237763 0.7762237762237763
precision scores {manual, function}:  0.7758620689655172 0.7758620689655172
recall scores {manual, function}:  0.703125 0.703125